services:
  redpanda:
    container_name: redpanda
    image: docker.redpanda.com/redpandadata/redpanda:v25.2.11
    user: "0:0"
    command:
      - redpanda
      - start
      - --smp=1
      - --memory=1G
      - --kafka-addr=internal://0.0.0.0:29092,external://0.0.0.0:9092
      - --advertise-kafka-addr=internal://redpanda:29092,external://localhost:9092
      - --rpc-addr=0.0.0.0:33145
      - --advertise-rpc-addr=redpanda:33145
    ports:
      - "9092:9092"
      - "29092:29092"
      - "9644:9644"
    healthcheck:
      test:
        - CMD
        - curl
        - -f
        - http://localhost:9644/v1/status/ready
      interval: 10s
      timeout: 5s
      start_period: 10s
    networks:
      - ch_ntw

  redpanda-init:
    container_name: redpanda-init
    image: docker.redpanda.com/redpandadata/redpanda:v25.2.11
    depends_on:
      redpanda:
        condition: service_healthy
    entrypoint: /bin/sh
    command:
      - -c
      - |
        rpk topic alter-config trades --set retention.ms=60000 -X brokers=redpanda:29092 || true
        rpk topic alter-config orderbooks --set retention.ms=60000 -X brokers=redpanda:29092 || true
    networks:
      - ch_ntw

  redpanda-console:
    container_name: redpanda-console
    image: docker.redpanda.com/redpandadata/console:v3.2.2
    networks:
      - ch_ntw
    entrypoint: /bin/sh
    command: -c 'echo "$$CONSOLE_CONFIG_FILE" > /tmp/config.yml; /app/console'
    environment:
      CONFIG_FILEPATH: /tmp/config.yml
      CONSOLE_CONFIG_FILE: |
        kafka:
          brokers: ["redpanda:29092"]
        redpanda:
          adminApi:
            enabled: true
            urls: ["http://redpanda:9644"]
    ports:
      - 8080:8080
    depends_on:
      - redpanda

  deephaven:
    container_name: deephaven
    build:
      context: docker/deephaven
    environment:
      START_OPTS: -Xmx12g -Dio.deephaven.app.GcApplication.enabled=true -DAuthHandlers=io.deephaven.auth.AnonymousAuthenticationHandler
    ports:
      - "10000:10000"
    volumes:
      - ./data/deephaven:/data/storage
      - ./data/parquet:/data/parquet
    depends_on:
      redpanda:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
    networks:
      - ch_ntw

  clickhouse:
    container_name: clickhouse
    image:  clickhouse/clickhouse-server:25.10.2.65
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: password
      CLICKHOUSE_ALWAYS_RUN_INITDB_SCRIPTS: true
    ports:
      - "8123:8123"
    volumes:
      - ./data/clickhouse:/var/lib/clickhouse
      - ./docker/clickhouse/sql/init_trades.sql:/docker-entrypoint-initdb.d/init_trades.sql:ro
      - ./docker/clickhouse/sql/init_orderbooks.sql:/docker-entrypoint-initdb.d/init_orderbooks.sql:ro
    healthcheck:
      test: ["CMD", "wget", "--tries=3", "--spider", "-q", "localhost:8123/ping"]
      start_period: 10s
      interval: 3s
    networks:
        - ch_ntw

  cryptofeed:
    container_name: cryptofeed
    build:
      context: docker/cryptofeed
    depends_on:
      redpanda:
        condition: service_healthy
    networks:
      - ch_ntw

networks:
  ch_ntw:
    driver: bridge
    ipam:
      config:
        - subnet: 10.223.1.0/24